<li>
  <p>{{name}}</p>
  <p>{{second-name}}</p>
  <p>{{age}}</p>
  <p>{{course}}</p>
  <p>{{faculty}}</p>
  <div class="student-actions">
    <button class="edit-btn">Edit</button>
    <button class="delete-btn">Delete</button>
  </div>
</li>