<li class="student-item"  data-index="{{_index}}">
  <h2 class="student-title">Студент №{{addOne _index}}</h2>
  <div class="student-text">
  <p>Ім'я:&nbsp;{{name}}</p>
  <p>Прізвище:&nbsp;{{second-name}}</p>
  <p>Вік:&nbsp;{{age}}</p>
  <p>Курс:&nbsp;{{course}}</p>
  <p>Факультет:&nbsp;{{faculty}}</p>
  </div>
  <div class="student-actions">
    <button class="edit-btn" data-index="{{_index}}">Edit</button>
    <button class="delete-btn" data-index="{{_index}}">Delete</button>
  </div>
</li>