<li class="student-item"  data-index="{{_index}}">
  <h2 class="student-title">Студент №{{addOne _index}}</h2>
  <div class="student-text">
  <p>{{name}}</p>
  <p>{{second-name}}</p>
  <p>{{age}}</p>
  <p>{{course}}</p>
  <p>{{faculty}}</p>
  </div>
  <div class="student-actions">
    <button class="edit-btn" data-index="{{_index}}">Edit</button>
    <button class="delete-btn" data-index="{{_index}}">Delete</button>
  </div>
</li>